.nav-bar {
    display: flex; 
   
}


.home-container {
    display: flex;
} 
.card-img {
    width: 200px;
  height: auto;
 padding: 10px; 
     
}
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-link {
        padding: 10px;
}
 .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }